<%- include('../info/head.ejs') %>

    <style>
        main{
            margin: 200px;
        }
        .login-form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
   <%- include('../info/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/post_reset" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>
