body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    margin: 10px;

}
.error{
    color: red;
}
